.footer {
    text-align: left;
    color: black;
}

ul.social-icon-list {
    list-style: none;
    display: inline;
    font-size: 2em;
}

ul.social-icon-list li.social-links {
    display: inline-block;
    color: white;
}

ul.social-icon-list li.social-links:hover {
    color: #cd201f;
}

ul.social-icon-list li.social-links.facebook {
    background-color: #3b5998;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

ul.social-icon-list li.social-links.youtube {
    background-color: #cd201f;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

ul.social-icon-list li.social-links.instagram {
    background-color: #ec1e4e;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

ul.social-icon-list li.social-links.google {
    background-color: #d34836;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

ul.social-icon-list li.social-links.linkedin {
    background-color: #007bb5;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

ul.social-icon-list li.social-links.twitter {
    background-color: #55acee;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

ul.social-icon-list li.social-links.facebook:hover,
ul.social-icon-list li.social-links.youtube:hover,
ul.social-icon-list li.social-links.instagram:hover,
ul.social-icon-list li.social-links.google:hover,
ul.social-icon-list li.social-links.linkedin:hover,
ul.social-icon-list li.social-links.twitter:hover {
    background-color: #e6e6e6;
}

ul.social-icon-list li.social-links.facebook a:hover,
ul.social-icon-list li.social-links.youtube a:hover,
ul.social-icon-list li.social-links.instagram a:hover,
ul.social-icon-list li.social-links.google a:hover,
ul.social-icon-list li.social-links.linkedin a:hover,
ul.social-icon-list li.social-links.twitter a:hover {
    color: #cd201f;
}

div.block-content ul.contact-info {
    list-style: none;
    display: inline;
}

div.block-content ul.contact-info li.contact-form {
    display: flex;
    color: #cd201f;
}

div.footer-bottom {
    background: black;
    color: white;
    /* height: 40px; */
    margin-top: 30px;
}